h1 {
    text-align: center;
    margin: 50px;
}

body {
    background: linear-gradient(to right, #a8e6cf, #dcedc1);
    background-color: rgba(255, 255, 255);
}

option {
    color: #000000;
  }
  
  select:invalid {
    color: #999999;
  }

#output_vermenigvuldigen, #output_delen{
    background-color: #e9ecef; /* Light gray */
    color: #6c757d; /* Gray text */
  }

.resultCard {
  position: fixed;
  top: 75px;
  right: 50px;
  padding: 20px;
  border-radius: 5px;
  color: white;
  opacity: 0.5; 
  transition: 1s;
}

.bi{
  font-size: 2em;
}