.col{
    border: 5px solid black;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.container{
    display: grid;
    height: 100vh;
    border: 5px solid black;
}

body {
    background: linear-gradient(to right, #a8e6cf, #dcedc1);
    background-color: rgba(255, 255, 255);
    overflow: hidden;
}